Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

.azure-pipelines/deployment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_evaluate
    displayName: Model - Evaluation
    jobs:
    - job: evaluate
      displayName: Model evaluation
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/endpoint-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_deployment
    displayName: Model - Deployment
    jobs:
    - deployment: model_deployment
      displayName: Model deployment
      environment: amlworkspace_$(env)
      strategy:
        runOnce:
          deploy:
            steps:
  ...

.azure-pipelines/environment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_ensure_env
    displayName: Environments - Deployment
    jobs:
    - job: deployment
      displayName: Environments - Deployment
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

.azure-pipelines/model-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_integrate
    displayName: Model - Build
    jobs:
    - job: train
      displayName: Model training
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/workspace-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_workspace_init
    displayName: Workspace - Initialization
    jobs:
    - job: iac_deployment
      displayName: IaC - Deployment
      steps:
      - template: templates/azure-arm-template-deployment/step.yaml
        parameters:
  ...

fix: avoid triggering CD if CT fails
  .github/workflows/model-cd.yaml
Due: none

fix: compare
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
Due: none

fix: compare step
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/compare.py
Due: none

fix: model compare
  .azure-pipelines/model-cd.yaml
Due: none

fix: branch ref in ADO
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix: enable manual dispatch
  .github/workflows/model-cd.yaml
Due: none

docs
  README.md
  docs/assets/deployment-ci-cd.png
  docs/assets/diagrams/datasets-latest.png
  docs/assets/diagrams/datasets-no-versions.png
  docs/assets/diagrams/datasets-ref.png
  docs/assets/diagrams/deployment-ci-cd.png
  docs/assets/diagrams/model-ci-ct.png
  docs/assets/model-ci-ct.png
Due: none

docs: updates
  README.md
  docs/assets/github-environment-cd.png
  docs/assets/github-environment-ci.png
  docs/assets/github-model-cd-eval.png
  docs/assets/github-model-ci.png
  docs/assets/github-workspace-cd.png
  docs/assets/model-registry-tags.png
  docs/workflows.md
Due: none

fix: docs
  README.md
Due: none

docs: updates
  README.md
  docs/workflows.md
Due: none

docs: paths
  docs/workflows.md
Due: none

fix: general bug fixing
  .github/actions/aml-model-register/actionv2.yaml
  .github/actions/aml-model-set/action.yaml
  .github/workflows/model-cd.yaml
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
  src/hatedetection/model/__main__.py
  src/hatedetection/model/evaluator.py
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/prep/text_preparation.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml

fix: job schemas update
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: cliv2 for models
  .azure-pipelines/model-ct.yaml
  .azure-pipelines/templates/aml-model-register/step.yaml
  .azure-pipelines/templates/aml-model-register/step_cliv2.yaml
  .azure-pipelines/templates/aml-model-register/stepv1.yaml
  .github/actions/aml-model-register/actionv1.yaml
  .github/actions/aml-model-register/actionv2.yaml
  .github/workflows/model-ct.yaml
Due: none

fix: datasets mode
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: overwrite in az upload
  .azure-pipelines/templates/aml-dataset-create/step.yaml
  .github/actions/aml-dataset-create/action.yaml
Due: none

fix: mode for datasets
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: mode: eval_mount
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: datasets in v2
  .azure-pipelines/templates/aml-dataset-create/step.yaml
  .github/actions/aml-dataset-create/action.yaml
Due: none

fix: datasets schema
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  datasets/portuguese-hate-speech-tweets-eval/dataset.yml
  datasets/portuguese-hate-speech-tweets/dataset.yml
Due: .azure-pipelines/workspace-cd.yaml

fix
  datasets/portuguese-hate-speech-tweets-eval/dataset.yml
  datasets/portuguese-hate-speech-tweets/dataset.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

fix: datasets
  datasets/portuguese-hate-speech-tweets-eval/dataset.yml
  datasets/portuguese-hate-speech-tweets/dataset.yml
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

fix: datasets as uri_folder
  datasets/portuguese-hate-speech-tweets-eval/dataset.yml
  datasets/portuguese-hate-speech-tweets/dataset.yml
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
  src/hatedetection/prep/text_preparation.py
Due: .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

fix: streaming
  .github/actions/aml-job-create/action.yaml
Due: none

fixes
  .azure-pipelines/templates/aml-model-register/step.yaml
  .github/actions/aml-job-create/action.yaml
  .github/actions/aml-model-register/action.yaml
Due: none

fix
  .github/actions/aml-job-create/action.yaml
Due: none

fix: running
  .github/actions/aml-job-create/action.yaml
Due: none

fix: step
  .azure-pipelines/templates/aml-job-create/step.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fix
  .azure-pipelines/model-ct.yaml
  .azure-pipelines/templates/aml-model-set/step.yaml
  .github/actions/aml-model-set/action.yaml
  .github/workflows/model-ct.yaml
Due: none

fix
  .github/actions/aml-mlflow-config/action.yaml
  .github/actions/aml-model-register/action.yaml
  .github/actions/aml-model-set/actionv2.yaml
  .github/actions/aml-model-set/tags.py
  .github/workflows/model-ct.yaml
Due: none

fixes
  .azure-pipelines/model-ct.yaml
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  .azure-pipelines/templates/aml-model-register/step.yaml
  .azure-pipelines/templates/aml-model-set/stepv2.yaml
  .azure-pipelines/templates/aml-model-set/tags.py
Due: none

fix
  .azure-pipelines/templates/aml-model-set/step.yaml
  .github/actions/aml-model-set/action.yaml
Due: none

feat: introducing mlflow stages
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-set/step.yaml
  .azure-pipelines/templates/aml-model-set/tags.py
  .github/actions/aml-model-set/action.yaml
  .github/actions/aml-model-set/tags.py
  .github/workflows/model-cd.yaml
Due: none

feat: mlflow for evaluator
  jobs/hatedetection/evaluate.job.yml
  src/hatedetection/model/__main__.py
  src/hatedetection/model/evaluator.py
  src/hatedetection/train/__main__.py
Due: .azure-pipelines/model-cd.yaml

fix: deployment
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: env
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: requirements
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  .github/actions/aml-cli-install/requirements.txt
  .github/actions/aml-job-create/action.yaml
Due: none

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/endpoint-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-cd.yaml: any of: jobs, src, but not: src/*/score
  .azure-pipelines/workspace-cd.yaml: any of: datasets, .cloud
