Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-ct.yaml, .azure-pipelines/workspace-cd.yaml

.azure-pipelines/deployment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_evaluate
    displayName: Model - Evaluation
    jobs:
    - job: evaluate
      displayName: Model evaluation
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/endpoint-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_deployment
    displayName: Model - Deployment
    jobs:
    - deployment: model_deployment
      displayName: Model deployment
      environment: amlworkspace_$(env)
      strategy:
        runOnce:
          deploy:
            steps:
  ...

.azure-pipelines/environment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_ensure_env
    displayName: Environments - Deployment
    jobs:
    - job: deployment
      displayName: Environments - Deployment
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

.azure-pipelines/model-ct.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_integrate
    displayName: Model - Build
    jobs:
    - job: train
      displayName: Model training
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/workspace-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_workspace_init
    displayName: Workspace - Initialization
    jobs:
    - job: iac_deployment
      displayName: IaC - Deployment
      steps:
      - template: templates/azure-arm-template-deployment/step.yaml
        parameters:
  ...

fix: requirements
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  .github/actions/aml-cli-install/requirements.txt
Due: none

fix: actions
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fix: versions
  .azure-pipelines/templates/aml-model-register/register.py
  .azure-pipelines/templates/aml-model-register/step.yaml
  .azure-pipelines/templates/aml-model-register/stepv1.yaml
  .azure-pipelines/templates/aml-model-register/stepv2.yaml
  .github/actions/aml-model-register/action.yaml
  .github/actions/aml-model-register/actionv1.yaml
  .github/actions/aml-model-register/actionv2.yaml
  .github/actions/aml-model-register/register.py
  src/common/__init__.py
  src/common/datasets/__init__.py
  src/common/datasets/dataset_management.py
  src/common/models/__init__.py
  src/common/models/model_management.py
Due: .azure-pipelines/model-ct.yaml

fix: jobtools
  .azure-pipelines/model-ct.yaml
  .github/workflows/model-ct.yaml
Due: none

fix model eval
  src/hatedetection/model/evaluator.py
Due: .azure-pipelines/model-ct.yaml

fix
  src/hatedetection/model/evaluator.py
Due: .azure-pipelines/model-ct.yaml

evaluator fixing
  .github/actions/aml-job-create/action.yaml
  .github/actions/aml-model-compare/action.yaml
  .github/actions/aml-model-compare/model_version.py
  .github/workflows/model-cd.yaml
  src/hatedetection/model/evaluator.py
Due: .azure-pipelines/model-ct.yaml

fix: evaluator rutine
  src/hatedetection/model/evaluator.py
Due: .azure-pipelines/model-ct.yaml

fix: registration
  .azure-pipelines/templates/aml-model-register/register.py
  .github/actions/aml-model-register/register.py
Due: none

fixes
  .github/actions/aml-cli-install/requirements.txt
  .github/actions/aml-model-register/register.py
  README.md
  docs/actions.md
Due: none

requirements
  .github/actions/aml-cli-install/requirements.txt
Due: none

fix: if job fails
  .azure-pipelines/templates/aml-job-create/step.yaml
  .github/actions/aml-job-create/action.yaml
  .github/actions/aml-model-register/register.py
Due: none

fixes
  .azure-pipelines/templates/aml-model-compare/compare.py
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/action.yaml
  .github/actions/aml-model-compare/compare.py
Due: none

fixes
  .azure-pipelines/templates/aml-job-create/step.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fixes
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

docs: architecture
  docs/assets/general-architecture.png
Due: none

docs: structure
  docs/structure.md
Due: none

docs: updated
  README.md
  docs/architecture.md
  docs/quickstart.md
Due: none

feat: eventing ARM
  .cloud/dev/deploy.parameters.json
  .cloud/templates/automation/egrModelRegistered.json
  .cloud/templates/automation/lgaTriggerAdoPipeline.json
  .cloud/templates/deploy.json
Due: .azure-pipelines/workspace-cd.yaml

fix: model inference
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-ct.yaml

feat: job display name in ADO
  .azure-pipelines/templates/aml-job-create/step.yaml
Due: none

fix: workspace config in ADO
  .azure-pipelines/templates/aml-workspace-get-config/step.yaml
  .github/actions/aml-mlflow-config/action.yaml
Due: none

fix: Pipeline.Workspace
  .azure-pipelines/model-ci.yaml
Due: none

fix: tests
  src/tests/hatedetection/scoring/test_score_transformer.py
Due: .azure-pipelines/model-ct.yaml

fix: ADO
  .azure-pipelines/templates/aml-model-register/step.yaml
Due: none

feat: ADO leveling
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-compare/model_version.py
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/aml-model-register/register.py
Due: none

fix: no-code deployment
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: Preparing state in jobs
  .azure-pipelines/templates/aml-job-create/step.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fixes: ADO job run
  .azure-pipelines/templates/aml-job-create/step.yaml
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fix: typos
  .azure-pipelines/templates/aml-job-create/step.yaml
Due: none

fix: typos
  .azure-pipelines/model-cd.yaml
Due: none

fixes: ADO and GHA
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-set/step.yaml
  .azure-pipelines/templates/aml-model-set/tags.py
  .github/actions/aml-model-set/action.yaml
  .github/actions/aml-model-set/tags.py
  .github/workflows/model-cd.yaml
Due: none

fix: typos
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

fix: training arguments
  jobs/hatedetection/train.params.yml
Due: .azure-pipelines/model-ct.yaml

fix: hyperparams
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: job submit error message
  .azure-pipelines/templates/aml-job-create/step.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fix: typos
  .azure-pipelines/templates/aml-model-compare/step.yaml
Due: none

fixes: messages
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: remove traffic update
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/endpoint-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-ct.yaml: any of: jobs, src
  .azure-pipelines/workspace-cd.yaml: any of: datasets, .cloud
