Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

.azure-pipelines/deployment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_evaluate
    displayName: Model - Evaluation
    jobs:
    - job: evaluate
      displayName: Model evaluation
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/endpoint-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_deployment
    displayName: Model - Deployment
    jobs:
    - deployment: model_deployment
      displayName: Model deployment
      environment: amlworkspace_$(env)
      strategy:
        runOnce:
          deploy:
            steps:
  ...

.azure-pipelines/environment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_ensure_env
    displayName: Environments - Deployment
    jobs:
    - job: deployment
      displayName: Environments - Deployment
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

.azure-pipelines/model-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_integrate
    displayName: Model - Build
    jobs:
    - job: train
      displayName: Model training
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/workspace-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_workspace_init
    displayName: Workspace - Initialization
    jobs:
    - job: iac_deployment
      displayName: IaC - Deployment
      steps:
      - template: templates/azure-arm-template-deployment/step.yaml
        parameters:
  ...

fix: aml bug
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: compare
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
  src/common/models/model_management.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: eval
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: now returning a value
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
  src/common/models/model_management.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: no metrics
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: tags not working on cliv2
  .github/actions/aml-model-set/action.yaml
  .github/actions/aml-model-set/tags.py
Due: none

fix: tags
  .github/actions/aml-model-set/action.yaml
Due: none

fix tag
  .github/actions/aml-model-set/action.yaml
Due: none

fix
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/aml-model-register/register.py
  .azure-pipelines/templates/aml-model-register/step.yaml
  .github/actions/aml-model-compare/action.yaml
  .github/actions/aml-model-register/action.yaml
  .github/actions/aml-model-register/register.py
  .github/workflows/model-cd.yaml
Due: none

ADO parity with GHA
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/model-ct.yaml
  .github/workflows/model-cd.yaml
Due: none

fix: scoring
  src/hatedetection/score/score_transformer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: load model
  src/hatedetection/score/score_transformer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: pickle
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: train jobs
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: white space
  conda.yml
Due: none

fix: white space
  environments/transformers-torch-19-dev/conda_dependencies.yml
Due: .azure-pipelines/environment-cd.yaml

fix: spaces
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19/conda_dependencies.yml
Due: .azure-pipelines/environment-cd.yaml

fix: deployment
  endpoints/hate-pt-speech/deployments/main.yml
  src/hatedetection/score/score_transformer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fixes
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/prep/text_preparation.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/model-cd.yaml

fix: inference
  src/hatedetection/score/score_transformer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: params
  src/hatedetection/prep/text_preparation.py
Due: .azure-pipelines/model-cd.yaml

fix: entry script
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: evaluation
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: evaluation
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: score
  src/hatedetection/score/score_transformer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: streamline example
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: lint
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: lint
  src/hatedetection/prep/text_preparation.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/model-cd.yaml

fix: ADO
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix: ADO
  .azure-pipelines/model-ct.yaml
Due: none

fix: model path in ADO
  .azure-pipelines/model-ct.yaml
  conda.yml
Due: none

fix: trraining arguments
  jobs/hatedetection/train.params.yml
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/model-cd.yaml

trigger in ADO
  .azure-pipelines/model-cd.yaml
Due: none

fix: model's stage
  .azure-pipelines/model-cd.yaml
Due: none

fix: trigger
  .azure-pipelines/model-cd.yaml
Due: none

feat: longer training
  jobs/hatedetection/train.params.yml
Due: .azure-pipelines/model-cd.yaml

tune: learning rate
  jobs/hatedetection/train.params.yml
Due: .azure-pipelines/model-cd.yaml

tune: tunning
  jobs/hatedetection/train.params.yml
Due: .azure-pipelines/model-cd.yaml

fix: tags indication
  src/common/models/model_management.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/endpoint-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-cd.yaml: any of: jobs, src, but not: src/*/score
  .azure-pipelines/workspace-cd.yaml: any of: datasets, .cloud
