Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

.azure-pipelines/deployment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_evaluate
    displayName: Model - Evaluation
    jobs:
    - job: evaluate
      displayName: Model evaluation
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/environment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_ensure_env
    displayName: Environments - Deployment
    jobs:
    - job: deployment
      displayName: Environments - Deployment
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

.azure-pipelines/model-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_integrate
    displayName: Model - Build
    jobs:
    - job: train
      displayName: Model training
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/workspace-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_workspace_init
    displayName: Workspace - Initialization
    jobs:
    - job: deployment
      displayName: Datasets - Initialization
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

fix: deployment secret name
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

pipelines renamed
  .azure-pipelines/endpoint-cd.yaml
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix: name
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

fix: step name
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

fix message
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix: replacing unsupported characters
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix: steps
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/model-ci.yaml
  .azure-pipelines/templates/aml-job-create/step.yaml
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

feat: evaluation routine
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
  jobs/hatedetection/evaluate.job.yml
  src/common/datasets/dataset_management.py
  src/common/jobs/arguments.py
  src/common/jobs/runner.py
  src/common/models/model_management.py
  src/hatedetection/model/__main__.py
  src/hatedetection/model/evaluation.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml

fix: triggers
  .azure-pipelines/model-cd.yaml
  jobs/hatedetection/evaluate.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: environment version
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: evaluation routine
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-job-metric-assert/assert.py
  .azure-pipelines/templates/aml-job-metric-assert/step.yaml
  jobs/hatedetection/evaluate.job.yml
  src/common/models/model_management.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: pipelines
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-job-metric-assert/step.yaml
Due: none

fix: job
  jobs/hatedetection/evaluate.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: error in evaluation
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: model exception
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: metrics not logged
  .azure-pipelines/templates/aml-job-metric-assert/step.yaml
  src/hatedetection/model/__main__.py
Due: .azure-pipelines/model-cd.yaml

fixes
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

fix: stage tag
  jobs/hatedetection/evaluate.job.yml
Due: .azure-pipelines/model-cd.yaml

feat: workspace-CD for GitHub actions
  .github/actions/aml-cli-install/action.yaml
  .github/actions/aml-dataset-create/action.yaml
  .github/workflows/workspace-cd.yaml
  notebooks/provision.sh
Due: none

fix: secrets
  .github/workflows/workspace-cd.yaml
Due: none

feat: GHA
  .github/actions/aml-env-build/action.yaml
  .github/actions/aml-env-ensure/action.yaml
  .github/workflows/environment-cd.yaml
  .github/workflows/environment-ci.yaml
Due: none

fix: workflow dispatch
  .github/workflows/environment-cd.yaml
  .github/workflows/environment-ci.yaml
  .github/workflows/workspace-cd.yaml
Due: none

fixes
  .github/actions/aml-dataset-create/action.yaml
  .github/actions/aml-env-ensure/action.yaml
  .github/workflows/environment-ci.yaml
  src/common/models/model_management.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: evaluation
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: evaluation data
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: evaluation routine
  src/common/models/model_management.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: predict method
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: adding extra param
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: typo in version
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

feat: github actions
  .github/actions/azure-pytest-run/step.yaml
  .github/actions/pylint-run/action.yaml
  .github/workflows/environment-cd.yaml
  .github/workflows/model-ci.yaml
Due: none

fix: IaC
  .github/workflows/workspace-cd.yaml
Due: none

fix: memory management
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: predict function
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: predict_batch
  src/hatedetection/model/evaluation.py
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

github action deployment
  .github/actions/azure-arm-template-deployment/step.yaml
  .github/workflows/workspace-cd.yaml
Due: none

fix: actions file name
  .azure-pipelines/templates/azure-arm-template-deployment/step.yaml
  .github/actions/azure-arm-template-deployment/action.yaml
Due: none

fix: GHA
  .github/actions/aml-dataset-create/action.yaml
  .github/actions/azure-arm-template-deployment/action.yaml
Due: none

fix: DeOps CD
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-job-metric-assert/step.yaml
  .azure-pipelines/templates/azure-arm-template-deployment/step.yaml
  docs/actions.md
Due: none

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-cd.yaml: any of: jobs, src, but not: src/*/score
  .azure-pipelines/workspace-cd.yaml: any of: datasets
