Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

.azure-pipelines/deployment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_evaluate
    displayName: Model - Evaluation
    jobs:
    - job: evaluate
      displayName: Model evaluation
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/endpoint-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_deployment
    displayName: Model - Deployment
    jobs:
    - deployment: model_deployment
      displayName: Model deployment
      environment: amlworkspace_$(env)
      strategy:
        runOnce:
          deploy:
            steps:
  ...

.azure-pipelines/environment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_ensure_env
    displayName: Environments - Deployment
    jobs:
    - job: deployment
      displayName: Environments - Deployment
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

.azure-pipelines/model-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_integrate
    displayName: Model - Build
    jobs:
    - job: train
      displayName: Model training
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/workspace-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_workspace_init
    displayName: Workspace - Initialization
    jobs:
    - job: iac_deployment
      displayName: IaC - Deployment
      steps:
      - template: templates/azure-arm-template-deployment/step.yaml
        parameters:
  ...

fix: ExperimentRunner
  src/common/jobs/runner.py
Due: .azure-pipelines/model-cd.yaml

fix: jobtools
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

fix: environments CD not triggering
  .github/workflows/environment-cd.yaml
Due: none

fix: jobtools
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/model-cd.yaml

fix: error code in bash
  .github/actions/aml-job-metric-assert/assert.py
  .github/actions/aml-model-compare/compare.py
Due: none

fix: job name
  .azure-pipelines/templates/aml-job-create/step.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

docs: updated
  README.md
Due: none

fix: .cloud
  .azure-pipelines/workspace-cd.yaml
  .github/workflows/workspace-cd.yaml
Due: none

fix: .cloud
  .github/workflows/workspace-cd.yaml
Due: none

fix: python scripts returning bool
  .github/actions/aml-job-metric-assert/action.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: missing endpoint case
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: endpoint not deployed case
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: conditions
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

fix: github actions inputs
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

fix: deployment environment
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: trigger
  .github/workflows/endpoint-cd.yaml
Due: none

fix: deployments traffic
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
  .github/workflows/endpoint-ci.yaml
  .github/workflows/environment-cd.yaml
  .github/workflows/workspace-cd.yaml
Due: none

Update action.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

fix: RBAC for key vault
  .cloud/templates/workspace/workspace.json
Due: .azure-pipelines/workspace-cd.yaml

fix: deployment name
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

refactor: rename pipelines jobs
  .azure-pipelines/endpoint-ci.yaml
  .azure-pipelines/environment-ci.yaml
Due: none

docs: updating reference
  README.md
  docs/actions.md
  docs/architecture.md
  docs/assets/general-architecture.png
  docs/quickstart-github.md
  docs/quickstart.md
  docs/structure.md
  docs/workflow.md
Due: none

fix: adding tags in deployments
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
  .github/workflows/model-cd.yaml
Due: none

docs: adjusting documentation
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
  README.md
  docs/assets/deployment-tags.png
Due: none

feat: mlflow support
  docs/actions.md
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml

fix: mlflow support
  .azure-pipelines/environment-cd.yaml
  .github/workflows/environment-cd.yaml
  .github/workflows/environment-ci.yaml
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml

feat: introducing continous training
  .github/actions/aml-endpoint-deploy/action.yaml
  .github/workflows/endpoint-cd.yaml
  .github/workflows/model-cd.yaml
  .github/workflows/model-ct.yaml
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

feat: mlflow support
  jobs/hatedetection/train.params.yml
  notebooks/model-experimentation.ipynb
  src/common/jobs/runner.py
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/model-cd.yaml

feat: jobtools to version 0.0.8
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

log model
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/model-cd.yaml

hate detection mlflow
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/model-cd.yaml

fix: change in CLIv2 for endpoint deployments
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
  docs/actions.md
  notebooks/provision.sh
Due: none

model-CT renamed
  .github/workflows/model-ct.yaml
Due: none

Update model-ct.yaml
  .github/workflows/model-ct.yaml
Due: none

refactor: mlflow and jobtools
  notebooks/model-experimentation.ipynb
  src/common/jobs/__init__.py
  src/common/jobs/runner.py
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/train/__main__.py
Due: .azure-pipelines/model-cd.yaml

fix: jobtools version updated.
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

fix: mlflow environments
  endpoints/hate-pt-speech/deployments/main.yml
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/model-cd.yaml

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/endpoint-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-cd.yaml: any of: jobs, src, but not: src/*/score
  .azure-pipelines/workspace-cd.yaml: any of: datasets, .cloud
