Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/endpoint-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-cd.yaml: any of: jobs, src, but not: src/*/score
  .azure-pipelines/workspace-cd.yaml: any of: datasets, .cloud

fix: model output path
  .github/workflows/model-ct.yaml
Due: none

fix: mlflow in evaluation
  src/hatedetection/model/__main__.py
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: main
  src/hatedetection/model/__main__.py
Due: .azure-pipelines/model-cd.yaml

fix: model evaluation
  .azure-pipelines/templates/aml-job-metric-assert/assert.py
  .github/actions/aml-job-metric-assert/assert.py
  .github/workflows/model-cd.yaml
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: return evaluation
  .github/actions/aml-job-metric-assert/assert.py
  .github/workflows/model-cd.yaml
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: debug
  .github/actions/aml-job-metric-assert/action.yaml
  .github/actions/aml-job-metric-assert/assert.py
Due: none

fix: flags
  .github/actions/aml-job-metric-assert/action.yaml
  .github/actions/aml-job-metric-assert/assert.py
Due: none

fix: flags indicated as booleans
  .github/actions/aml-job-metric-assert/action.yaml
Due: none

fix: deployment
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

fix: tags
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

fix: model path in mlflow
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: model_input
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: model_input
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: context optional
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

fix: compare
  .github/workflows/model-cd.yaml
Due: none

fix: model path
  src/hatedetection/score/score_transformer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: model stage
  .github/workflows/model-cd.yaml
Due: none

fix: size
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

feat: logs collection
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

fix: env version
  endpoints/hate-pt-speech/deployments/main.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml

fix: env flask version
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

fix
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: deployment
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

fix: endpoint
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: environments
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

introducing mlflow skinny
  environments/transformers-torch-19-dev/conda_dependencies.yml
Due: .azure-pipelines/environment-cd.yaml

fix: envs
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml

fix: envs
  endpoints/hate-pt-speech/deployments/main.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml

model in mlflow
  src/hatedetection/model/hate_detection_classifier.py
  src/hatedetection/score/score_transformer.py
  src/hatedetection/train/trainer.py
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/model-cd.yaml

evaluation
  src/hatedetection/model/evaluation.py
  src/hatedetection/model/hate_detection_classifier.py
Due: .azure-pipelines/model-cd.yaml

evaluation
  src/hatedetection/model/evaluation.py
Due: .azure-pipelines/model-cd.yaml

fix: eval
  .github/actions/aml-model-compare/action.yaml
  .github/actions/aml-model-compare/compare.py
  .github/workflows/model-cd.yaml
Due: none

fix: compare action
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-compare/compare.py
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: data types
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
Due: none

fix: deployments
  endpoints/hate-pt-speech/deployments/main.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml

fix: metrics with multiple values
  .azure-pipelines/templates/aml-model-compare/compare.py
  .github/actions/aml-model-compare/compare.py
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml
