Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/deployment-cd.yaml, .azure-pipelines/endpoint-cd.yaml, .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

Path conditions:
  .azure-pipelines/deployment-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/endpoint-cd.yaml: any of: endpoints, src/*/score
  .azure-pipelines/environment-cd.yaml: any of: environments
  .azure-pipelines/model-cd.yaml: any of: jobs, src, but not: src/*/score
  .azure-pipelines/workspace-cd.yaml: any of: datasets

fix: variables in capital
  .github/variables.yaml
  .github/workflows/endpoint-cd.yaml
  .github/workflows/model-cd.yaml
  .github/workflows/model-ci.yaml
Due: none

fix: tensorboard
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  .github/actions/aml-cli-install/requirements.txt
  jobs/hatedetection/train.params.yml
  notebooks/model-debug.ipynb
  notebooks/model-experimentation.ipynb
  notebooks/model-training.ipynb
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

new env
  environments/transformers-torch-19-dev/conda_dependencies.yml
Due: .azure-pipelines/environment-cd.yaml

refactor: removing the need of a workspace config
  .azure-pipelines/templates/aml-endpoint-test/step.yaml
  .azure-pipelines/templates/aml-job-metric-assert/assert.py
  .azure-pipelines/templates/aml-job-metric-assert/step.yaml
  .azure-pipelines/templates/aml-model-compare/compare.py
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/aml-model-register/register.py
  .azure-pipelines/templates/aml-model-register/step.yaml
  .github/actions/aml-job-metric-assert/action.yaml
  .github/actions/aml-job-metric-assert/assert.py
  .github/actions/aml-model-compare/action.yaml
  .github/actions/aml-model-compare/compare.py
  .github/actions/aml-model-register/action.yaml
  .github/actions/aml-model-register/register.py
  .github/workflows/model-cd.yaml
Due: none

fix: removing workspaceConfig
  .azure-pipelines/model-cd.yaml
Due: none

fix: requirements
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/aml-model-register/step.yaml
Due: none

fix: requirements
  .azure-pipelines/templates/aml-cli-install/requirements.txt
Due: none

fix: python version
  .azure-pipelines/templates/aml-cli-install/step.yaml
Due: none

fix: steps
  .azure-pipelines/templates/aml-cli-install/step.yaml
Due: none

fix: python
  .azure-pipelines/templates/aml-cli-install/step.yaml
Due: none

debug
  .azure-pipelines/model-cd.yaml
Due: none

fix: variables
  .azure-pipelines/templates/aml-job-metric-assert/step.yaml
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/aml-model-register/step.yaml
  .github/actions/aml-job-metric-assert/action.yaml
  .github/actions/aml-model-compare/action.yaml
  .github/actions/aml-model-register/action.yaml
  notebooks/workspace.json
Due: none

python tools
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-cli-install/requirements.txt
  .azure-pipelines/templates/aml-cli-install/step.yaml
  .github/actions/aml-cli-install/requirements.txt
Due: none

fix: exclusive tag
  .azure-pipelines/endpoint-cd.yaml
  .github/workflows/endpoint-cd.yaml
  .github/workflows/model-cd.yaml
Due: none

fix: envs
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19/conda_dependencies.yml
Due: .azure-pipelines/environment-cd.yaml

fix: reverting
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19/conda_dependencies.yml
Due: .azure-pipelines/environment-cd.yaml

fix: endpoint schema in AML doesn't update traffic
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

feat: updating traffic according to endpoint YAML
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .github/actions/aml-endpoint-deploy/action.yaml
Due: none

feat: remove workspace json dependency
  .azure-pipelines/model-ci.yaml
  .azure-pipelines/templates/aml-workspace-get-config/step.yaml
  .azure-pipelines/templates/azure-pytest-run/step.yaml
  .azure-pipelines/workspace-cd.yaml
  .github/actions/aml-workspace-get-config/action.yaml
  .github/actions/azure-pytest-run/action.yaml
  .github/workflows/endpoint-ci.yaml
  .github/workflows/workspace-cd.yaml
  README.md
  docs/actions.md
  docs/architecture.md
  infrastructure/dev/deploy.parameters.json
  infrastructure/templates/deploy.json
  infrastructure/templates/workspace/compute/cluster.json
  infrastructure/templates/workspace/compute/compute-instance.json
  infrastructure/templates/workspace/source/adlg2.json
  infrastructure/templates/workspace/workspace.json
  src/hatedetection.model.yml
  src/hatedetection/prep/text_preparation.py
  src/tests/conftest.py
  src/tests/hatedetection/scoring/test_score_transformer.py
  workspaces/templates/workspace/compute/cluster-gpu.json
  workspaces/templates/workspace/compute/cluster.json
Due: .azure-pipelines/model-cd.yaml

fix: args in jq
  .github/actions/aml-workspace-get-config/action.yaml
Due: none

fix: coding style
  src/tests/conftest.py
Due: .azure-pipelines/model-cd.yaml

fix: adding lib test coverage
  .azure-pipelines/templates/azure-pytest-run/step.yaml
  .github/actions/azure-pytest-run/action.yaml
Due: none

fix: pytest
  .azure-pipelines/templates/azure-pytest-run/step.yaml
  .github/actions/azure-pytest-run/action.yaml
  .github/workflows/endpoint-ci.yaml
Due: none

fix: pytest action
  .github/actions/azure-pytest-run/action.yaml
Due: none

fix: secretsManagementObjectId
  .github/workflows/workspace-cd.yaml
  infrastructure/templates/deploy.json
Due: none

fix: role name
  infrastructure/templates/workspace/workspace.json
Due: none

fix: new guid for scope
  infrastructure/templates/workspace/workspace.json
Due: none

fix: id
  .azure-pipelines/workspace-cd.yaml
Due: none

fix: automation object id
  .azure-pipelines/workspace-cd.yaml
  .github/workflows/workspace-cd.yaml
  docs/quickstart-devops.md
  docs/quickstart-github.md
  docs/quickstart.md
Due: none

docs: how to get object id
  docs/quickstart-devops.md
  docs/quickstart-github.md
Due: none

fix: ARM step path
  .azure-pipelines/workspace-cd.yaml
Due: none

feat: pytest enhacemnets
  docs/assets/github-model-ci-tests.png
  src/pyproject.toml
  src/tests/hatedetection/prep/test_text_preparation.py
  src/tests/hatedetection/scoring/test_score_transformer.py
Due: .azure-pipelines/model-cd.yaml

fix: ARM template version
  .azure-pipelines/workspace-cd.yaml
Due: none

refactor: cloud files
  .azure-pipelines/workspace-cd.yaml
  .cloud/dev/deploy.parameters.json
  .cloud/templates/deploy.json
  .cloud/templates/workspace/compute/cluster.json
  .cloud/templates/workspace/compute/compute-instance.json
  .cloud/templates/workspace/source/adlg2.json
  .cloud/templates/workspace/workspace.json
  .github/actions/aml-cli-install/action.yaml
  .github/actions/aml-cli-install/requirements.txt
  .github/workflows/model-cd.yaml
  .github/workflows/workspace-cd.yaml
Due: none

fix: trigger files for cloud
  .azure-pipelines/workspace-cd.yaml
  .github/workflows/workspace-cd.yaml
Due: none

fix: actions if
  .github/actions/aml-cli-install/action.yaml
  .github/actions/aml-job-create/action.yaml
Due: none

fix: GHA bash execution policy
  .github/actions/aml-job-metric-assert/action.yaml
  .github/actions/aml-model-compare/action.yaml
Due: none

fix: adding jobtools lib
  environments/transformers-torch-19-dev/conda_dependencies.yml
  environments/transformers-torch-19-dev/environment.yml
  environments/transformers-torch-19/conda_dependencies.yml
  environments/transformers-torch-19/environment.yml
Due: .azure-pipelines/environment-cd.yaml

refactor: experiment runner
  jobs/hatedetection/evaluate.job.yml
  jobs/hatedetection/train.job.yml
  src/common/jobs/arguments.py
  src/common/jobs/runner.py
  src/common/models/model_management.py
  src/hatedetection/model/__main__.py
  src/hatedetection/model/evaluation.py
  src/hatedetection/train/__main__.py
Due: .azure-pipelines/model-cd.yaml
