Repository santiagxf/trunkbased-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/environment-cd.yaml, .azure-pipelines/model-cd.yaml, .azure-pipelines/workspace-cd.yaml

.azure-pipelines/environment-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_ensure_env
    displayName: Environments - Deployment
    jobs:
    - job: deployment
      displayName: Environments - Deployment
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

.azure-pipelines/model-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_model_integrate
    displayName: Model - Build
    jobs:
    - job: train
      displayName: Model training
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
          minVersion: 2.0
  ...

.azure-pipelines/workspace-cd.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: aml_workspace_init
    displayName: Workspace - Initialization
    jobs:
    - job: deployment
      displayName: Datasets - Initialization
      steps:
      - template: templates/aml-cli-install/step.yaml
        parameters:
          componentSupport: false
  ...

tweet datasets fixed
  datasets/portuguese-hate-speech-eval/data/2019-05-28_portuguese_hate_speech_hierarchical_classification.csv
  datasets/portuguese-hate-speech-tweets/data/2019-05-28_portuguese_hate_speech_hierarchical_classification.csv
Due: .azure-pipelines/workspace-cd.yaml

fix: variable groups
  .azure-pipelines/environment-cd.yaml
  .azure-pipelines/environment-ci.yaml
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/model-ci.yaml
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/variables.group.yaml
  .azure-pipelines/workspace-cd.yaml
  docs/actions.md
Due: none

paths fixed
  .azure-pipelines/environment-cd.yaml
  .azure-pipelines/environment-ci.yaml
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/model-ci.yaml
  .azure-pipelines/workspace-cd.yaml
Due: none

fix: dataset path
  datasets/portuguese-hate-speech-eval/dataset.yml
Due: .azure-pipelines/workspace-cd.yaml

fix: dataset name
  README.md
  datasets/portuguese-hate-speech-tweets-eval/data/2019-05-28_portuguese_hate_speech_hierarchical_classification.csv
  datasets/portuguese-hate-speech-tweets-eval/dataset.yml
  docs/assets/pipelines-add-existing.png
  docs/assets/pipelines-add-renamepng.png
  jobs/hatedetection/train.job.yml
Due: .azure-pipelines/workspace-cd.yaml

fix: config file
  workspaces/dev/workspace.json
Due: none

fix: undo changes
  .gitignore
  datasets/portuguese-hate-speech-eval/data/2019-05-28_portuguese_hate_speech_hierarchical_classification.csv
  datasets/portuguese-hate-speech-eval/dataset.yml
  docs/assets/pipelines-add-rename.png
  docs/assets/workspace-config.png
  workspaces/dev/workspace.json:Zone.Identifier
Due: .azure-pipelines/workspace-cd.yaml

fix: dataset name
  datasets/portuguese-hate-speech-tweets-eval/data/2019-05-28_portuguese_hate_speech_hierarchical_classification.csv
  datasets/portuguese-hate-speech-tweets-eval/dataset.yml
Due: .azure-pipelines/workspace-cd.yaml

docs:
  README.md
  docs/assets/environments-approvals-text.png
  docs/assets/environments-approvals.png
  docs/assets/repo-manage-main-rule.png
  docs/assets/repo-manage-main-rules.png
  docs/assets/repo-manage.png
  docs/model.md
  docs/quickstart-devops.md
  docs/quickstart-github.md
  docs/quickstart.md
Due: none

docs
  docs/quickstart.md
Due: none

docs
  README.md
Due: none

fix: job name
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/model-ci.yaml
Due: none

docs
  endpoints/README.md
Due: .azure-pipelines/model-cd.yaml

fix: train parameters
  jobs/hatedetection/train.job.yml
Due: none

docs: readme
  README.md
Due: none

fix: IaC
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/azure-arm-template-deployment/action.yaml
  .azure-pipelines/variables.group.yaml
  .azure-pipelines/workspace-cd.yaml
  workspaces/dev/deploy.parameters.json
  workspaces/dev/workspace.json:Zone.Identifier
  workspaces/templates/deploy.json
  workspaces/templates/workspace/compute/cluster-cpu.json
  workspaces/templates/workspace/compute/cluster-gpu.json
  workspaces/templates/workspace/compute/cluster.json
  workspaces/templates/workspace/compute/compute-instance.json
  workspaces/templates/workspace/source/adlg2.json
  workspaces/templates/workspace/workspace.json
Due: none

secure strings
  .azure-pipelines/templates/azure-arm-template-deployment/action.yaml
  .azure-pipelines/workspace-cd.yaml
  workspaces/dev/deploy.parameters.json
  workspaces/templates/deploy.json
Due: none

fix: deploy action
  .azure-pipelines/templates/azure-arm-template-deployment/action.yaml
Due: none

fix: steps
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

fix: deployment step
  .azure-pipelines/templates/azure-arm-template-deployment/action.yaml
Due: none

fix: IaC
  workspaces/templates/deploy.json
  workspaces/templates/workspace/source/adlg2.json
Due: none

docs
  README.md
  docs/actions.md
  docs/assets/devops-secrets.png
  docs/quickstart-devops.md
  docs/quickstart.md
Due: none

train parameters
  jobs/hatedetection/train.params.yml
Due: none

docs: required permissions
  docs/quickstart.md
Due: none

docs: adjusting naming convention
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  docs/actions.md
Due: none

fix: deployment environment
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/aml-model-register/step.yaml
  README.md
  docs/quickstart-devops.md
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/model-cd.yaml

fix: actions
  .azure-pipelines/templates/aml-cli-install/step.yaml
  .azure-pipelines/templates/aml-model-compare/step.yaml
  .azure-pipelines/templates/azure-arm-template-deployment/action.yaml
  docs/actions.md
Due: none

fix: conditions
  .azure-pipelines/templates/aml-cli-install/step.yaml
Due: none

fix: output variable
  .azure-pipelines/templates/aml-model-compare/step.yaml
Due: none

fix: stage dependencies
  .azure-pipelines/model-cd.yaml
Due: none

fix: key vault
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .azure-pipelines/variables.group.yaml
  .github/workflows/workspace-cd.yaml
  endpoints/hate-pt-speech/deployments/main.yml
Due: .azure-pipelines/model-cd.yaml

fix: endpoint credentials
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

feat: run on notebooks
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
  .azure-pipelines/templates/aml-endpoint-test/step.yaml
  src/common/datasets/__init__.py
  src/common/datasets/dataset_management.py
  src/common/jobs/runner.py
  src/common/models/__init__.py
  src/common/models/model_management.py
Due: .azure-pipelines/model-cd.yaml

fix: fail on errors
  .azure-pipelines/templates/aml-endpoint-deploy/step.yaml
Due: none

pipeliens design
  .azure-pipelines/deployment-cd.yaml
Due: none

feat: model tag
  .azure-pipelines/model-cd.yaml
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

fix: model tags
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

fix
  .azure-pipelines/templates/aml-model-set/step.yaml
Due: none

feat: changing order
  .azure-pipelines/deployment-cd.yaml
  .azure-pipelines/model-cd.yaml
Due: none

Path conditions:
  .azure-pipelines/environment-cd.yaml: any of: services/post-processing/source/environments
  .azure-pipelines/model-cd.yaml: any of: endpoints, src
  .azure-pipelines/workspace-cd.yaml: any of: datasets
